@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Thin.ttf);
  font-weight: 100;
  font-display: block;
}
@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-ThinItalic.ttf);
  font-weight: 100;
  font-display: block;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Regular.ttf);
  font-weight: 400;
  font-display: block;
}
