$color-black: #232323;
$color-white: #fff;
$color-dark-gray: #6c6c6c;

$large-device: 1200px;
$medium-device: 992px;
$small-device: 768px;

$color-primary: #333;

$z-index-modal: 100;
$font-main: 'Montserrat';
