/* Detail font Be Vietnam Pro */
/* https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap */
/* https://fonts.google.com/specimen/Be+Vietnam+Pro#standard-styles */

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url(./BeVietnamPro-Regular.ttf);
    font-style: normal;
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url(./BeVietnamPro-Italic.ttf);
    font-style: italic;
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url(./BeVietnamPro-Medium.ttf);
    font-style: normal;
    font-weight: 500;
    font-display: block;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url(./BeVietnamPro-SemiBold.ttf);
    font-weight: 600;
    font-display: block;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url(./BeVietnamPro-Bold.ttf);
    font-weight: 700;
    font-display: block;
}
